*.out
*.o
/bin/*
.vscode/

src/.deps/
src/blazersh
Makefile

/ar-lib
/mdate-sh
/py-compile
/test-driver
/ylwrap

autom4te.cache
/autoscan.log
/autoscan-*.log
/config.h
/config.guess
/config.log
/config.status
/config.sub
/configure.scan
/stamp-h1

/ltmain.sh

/texinfo.tex

m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4